<div class="landing-page-container">

    <div class ="welcome-banner">
        Welcome to Ankita's and Rachel's Chatroom Site
    </div>
    <div class="landing-buttons">
    <button class="landing-button" onClick="direct_to_login()">Login</button>
    <button class="landing-button" onClick="direct_to_signup()">Sign Up</button>
    </div>  
</div>
<script>
function direct_to_login(){
    window.location.href = '/login';
}
function direct_to_signup(){
    window.location.href = '/signup';
}
</script>